

body{
    background-color: pink;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

.portrait{
max-width: 50%;
display: block;
margin: auto;
}

section.top {text-align: center;
color: white;
font-family:  Arial;}


section.list{
font-weight: bold;
padding: 0.5em 0;
font-family: Arial, Helvetica, sans-serif;}








