#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    z-index: -2;
}

header {
    position: sticky;
    top: 0;
    padding: 25px;
    background-color: rgb(33, 33, 33);
   
}
body {margin: 0;}

nav a {
color: white;
font-size: 18px;
text-decoration: none;
margin: 0 auto;

}

nav {display: flex;
    border: 2em;
}

/* body {margin: 0} */
h2 {text-align: center;}
h2 {
    grid-column: 1/3;
    background-color: grey;
    padding: 5px;
}



.top-three{
    max-width: 40%;
    min-width: 100px;
    grid-column: 1/2;
    margin: 0 auto;
    border: 5px solid darkgrey;}



.movie-img {
    height: 100%;

    width: auto;
    margin: 0 auto;
    text-align: center;
    border: 2px solid darkgrey;
}

#four-ten img{text-align: center;

}
#four-ten{

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 200px;
    font-size: 12px;
    text-align: center;


}
#hero-img{
    margin:0 auto;
    text-align: center;
    max-width: 100%;

}

.div-centered{
    margin:0 auto;
    text-align: center;
    max-width: 100%;
    width: 100%;
    background-color: #171717;
    position: relative;
    text-align: center;
    color: white;
    z-index: -2;
}



#mckay{margin-left: 20%;
margin-right: 20%;
padding: 12px;
border: 5px solid grey;
}


.l-movie-img {
    height: 100%;

    width: auto;
    margin: 0 auto;
    text-align: center;
    border: 10px solid darkgrey;

}
.l-movie-img:hover{
    transform: scale(1.01);
    opacity: .9;
    z-index: -2;
}

.light-blue{
    height: 200px;
    background-color: lightblue;
}

.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.movie-sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    text-align: center;
    background-color: lightblue;
    padding: 25px;


}
.movie-sec-p{
    padding: 25px;
    border: 5px solid rgb(33, 33, 33);

}

.photo-row{display: flex;
    margin-top: 200px;
}
.photo-row img{
    width: 2.5%;
}
#social-media-icons{
    /* text-align: right; */
    padding: 5px;
}
footer{display: flex;
 padding-top: 25px;
 padding-bottom: 25px;
 justify-content: space-around;
    align-items: center;
    background-color: grey;
}

@media screen and (max-width: 900px) {

    nav{display: block;}
    nav a{
        display: block;
    text-align: center;
    padding: 8px;}

    #four-ten{display: block;}
    .movie-img{width: 10em;
    margin-bottom: 25px;}

    .movie-sec{display: block;}

}
